.ms_avatar-picture {
    width: 50px;
}

.ms_avatar-img {
    border-radius: 50%;
    width: 100%;
}

.ms_contact-list-border {
    border-top: 1px solid #e9ebea;
}

.ms_searchbar-bg {
    background-color: #fafafa;
}

.ms_searchbar-style-overwrite {
    background-color: #fff;
    color: #d5d6d8;
}

.ms_searchbar-no-border {
    border-left: none;
}

.ms_notification-bg {
    background-color: #8edafc;
}

.ms_notification-icon {
    background-color: #fff;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px 12px;
    color: #8edafc;
}

.ms_icon-style {
    color: #b1b1b1;
    font-size: 20px;
}

.ms_lightgray-bg {
    background-color: #eaeaea;
}

.ms_container-height {
    height: 100vh;
}

.ms_border-left {
    border-left: 1px solid #cabbbb;
}

.ms_textarea-icon-size {
    width: 5%;
}

.ms_textarea-size {
    width: 90%;
    vertical-align: middle;
}

.ms_textarea-container {
    height: 82px;
    line-height: 82px;
}

.ms_chat {
    height: 650px;
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
}

.ms_chatbox {
    width: 300px;
    border-radius: 10px;
}

.ms_chat-date {
    font-size: 10px;
}

.ms_received {
    background-color: #fff;
}

.ms_sent-position {
    justify-content: flex-end;
}

.ms_sent {
    background-color: #d5f9ba;
}

.ms_cursor-pointer {
    cursor: pointer;
}